body {
	behavior: url("csshover.htc");
	margin: 0;
	padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

#bannerDiv {
    position: absolute;
    border-bottom: 2px solid #FBC02D;
    width:100%;
    height:100%;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#006093',gradientType='1'); 
    background: -webkit-linear-gradient(left,#FFFFFF,#0079A8,#006093);
    background: -ms-linear-gradient(left,#FFFFFF,#0079A8,#006093);
    letter-spacing: 0px;
    word-break: keep-all;
    white-space: nowrap;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    -webkit-align-items: center;
    display: -ms-flex;
    -ms-flex-flow: row nowrap;
    -ms-align-items: center;
}

#bannerTitle{
	color: tomato;
	font: bold 23px/50% "Times New Roman", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
	padding-left:10px;
	text-shadow: 1px 1px 0px white;
}

#bannerToolbar {
	width: 20px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: #ff3333;
}

#banner_exit {
 	padding-left:16px;
 	height:16px; 
 	display:inline-block;
 	position:absolute;
 	right:10px;
 	color:white;
}

#banner_exit_text{
	font: bold 13px/50% "Times New Roman", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
	padding-left:1px;
	letter-spacing: 0px;
}

#banner_help {
 	padding-left:16px;
 	height:16px; 
 	display:inline-block;
 	position:absolute;
 	right:100px;
 	color:white;
}

#banner_help_text{
	font: bold 13px/50% "Times New Roman", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
	padding-left:1px;
	letter-spacing: 0px;
}

#banner_language1 {
 	padding-left:16px;
 	height:16px; 
 	display:inline-block;
 	position:absolute;
 	right:180px;
 	color:white;
}

#banner_language2 {
 	padding-left:16px;
 	height:16px; 
 	display:inline-block;
 	position:absolute;
 	right:260px;
 	color:white;
}

#banner_language3 {
 	padding-left:16px;
 	height:16px; 
 	display:inline-block;
 	position:absolute;
 	right:370px;
 	color:white;
}

#banner_language1_text,#banner_language2_text,#banner_language3_text{
	font: bold 13px/50% "Times New Roman", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
	padding-left:1px;
	letter-spacing: 0px;
}

#banner_exit,#banner_help,#banner_language1,#banner_language2,#banner_language3:link {
 color: white;
 text-decoration: none;
}

#banner_exit,#banner_help,#banner_language1,#banner_language2,#banner_language3:visited {
 color: white;
 text-decoration: none;
}
#banner_exit,#banner_help,#banner_language1,#banner_language2,#banner_language3:hover {
 color: white;
 text-decoration: none;
}

#bannerLogoImg {
	display:block;
    height: 35px;
    width: 55px;
    margin-left: 0px;
    padding-left: 20px;
}