* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    word-break: keep-all;
    white-space: nowrap;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
         url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), 
         url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), 
         url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), 
         url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

html,
body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    display: -moz-flex;
    -moz-flex-direction: column;
    -moz-flex-wrap: nowrap;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: nowrap;
    display: -o-flex;
    -o-flex-direction: column;
    -o-flex-wrap: nowrap;
    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-flex-wrap: nowrap;
}

.hbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    display: -moz-flex;
    -moz-flex-direction: row;
    -moz-flex-wrap: nowrap;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    display: -o-flex;
    -o-flex-direction: row;
    -o-flex-wrap: nowrap;
    display: -ms-flex;
    -ms-flex-direction: row;
    -ms-flex-wrap: nowrap;
}

.fit {
    flex: 1;
    -moz-flex: 1;
    -webkit-flex: 1;
    -o-flex: 1;
    -ms-flex: 1;
}

.center {
    justify-content: center;
    align-items: center;
    -moz-justify-content: center;
    -moz-align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -o-justify-content: center;
    -o-align-items: center;
    -ms-justify-content: center;
    -ms-align-items: center;
}

.logoCenter {
    flex: 1;
    -webkit-flex: 1;
}

#imgTitleAdmin {
    position: absolute;
    top: 30px;
    left: 25px;
    word-break: keep-all;
    white-space: nowrap;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    -webkit-align-items: center;
}
        
#logoImgAdmin {
    height: 45px;
    width: 45px;
}
        
#titleTextAdmin {
    font-family: Founder KaiTi;
    font-size: 30px;
    font-weight: bold;
    color: #dd0000;
    letter-spacing: 6px;
/* text-shadow: #FFFFFF 2px 0 0, #FFFFFF 0 2px 0, #FFFFFF -2px 0 0, #FFFFFF 0 -2px 0;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}