.gradvi {
	border-top: 1px solid #A5B3CD;
	margin-top: 5px;
	border-left: 1px solid #A5B3CD;
}

.gradvi tr td {
	border-bottom: 1px solid #A5B3CD;
	border-right: 1px solid #A5B3CD;
	text-align: left;
}

.gradvi th {
	border-bottom: 1px solid #A5B3CD;
	border-right: 1px solid #A5B3CD;
}